.logo {
  display: none;

  @include media-breakpoint-up(sm) {
    display: block;
  }
}

.logo-mobile {
  display: block;

  @include media-breakpoint-up(sm) {
    display: none;
  }
}

.site-title {
  color: $primary;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  white-space: nowrap;

  &:hover {
    text-decoration: none;
  }
}